PSim/PSim/Connected Services/BVYS_Ser/BvysIslemleri.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://tckk/BvysIslemleri" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="BvysIslemleri" targetNamespace="http://tckk/BvysIslemleri" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="SecurityServiceUsernameUnsecureTransportPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://tckk/BvysIslemleri" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="bvysOnayBildir" type="tns:bvysOnayBildir" />
      <xs:element name="bvysOnayBildirResponse" type="tns:bvysOnayBildirResponse" />
      <xs:complexType name="bvysOnayBildir">
        <xs:sequence>
          <xs:element minOccurs="0" name="mernisIslemId" type="xs:string" />
          <xs:element minOccurs="0" name="efDg3" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bvysOnayBildirResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:standartWSSonuc" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="standartWSSonuc">
        <xs:sequence>
          <xs:element name="basarili" type="xs:boolean" />
          <xs:element minOccurs="0" name="hataAciklama" type="xs:string" />
          <xs:element name="hataKodu" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="bvysOnayBildir">
    <wsdl:part name="parameters" element="tns:bvysOnayBildir" />
  </wsdl:message>
  <wsdl:message name="bvysOnayBildirResponse">
    <wsdl:part name="parameters" element="tns:bvysOnayBildirResponse" />
  </wsdl:message>
  <wsdl:portType name="BvysIslemleriWSInt">
    <wsdl:operation name="bvysOnayBildir">
      <wsdl:input name="bvysOnayBildir" message="tns:bvysOnayBildir" />
      <wsdl:output name="bvysOnayBildirResponse" message="tns:bvysOnayBildirResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BvysIslemleriSoapBinding" type="tns:BvysIslemleriWSInt">
    <wsp:PolicyReference URI="#SecurityServiceUsernameUnsecureTransportPolicy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="bvysOnayBildir">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="bvysOnayBildir">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="bvysOnayBildirResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BvysIslemleri">
    <wsdl:port name="BvysIslemleriPort" binding="tns:BvysIslemleriSoapBinding">
      <soap:address location="http://SRVAPASKAY01.mernis.test:8180/merveys-kayit-ejb/BvysIslemleri/BvysIslemleri" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>